

.container {
    display: flex;
    background-color: #BB3133;
    border-radius: 0.5rem;
    /* margin-top: 10rem;
    margin-right: 15rem; */
    /* margin: 10rem 20rem 10rem 12rem; */
    padding: 5rem;
}

.container img.logo {
    width: 100%;
}

.container display {
    
}

.app {
    display: flex;
    margin-top: 5px;
    margin-right: 0;
}

.numberButtons {
    margin: 35%;

}
.numberButton {
    border-radius: 50%;
    

    
}

